schema/tc_generated.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar ns="" xmlns="http://relaxng.org/ns/structure/1.0"
  datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
  <start>
    <element name="root">
      <element name="page">
        <data type="NMTOKEN"/>
      </element>
      <element name="image">
        <data type="anyURI"/>
      </element>
      <oneOrMore>
        <choice>
          <!--          <text/> -->
          <ref name="ab"/>
          <ref name="figure"/>
          <!--          <ref name="id"/>
          <ref name="pro"/>
-->
          <element name="div">
            <optional>
              <ref name="cont"/>
            </optional>
            <ref name="id"/>
            <optional>
              <ref name="margin"/>
            </optional>
            <optional>
              <ref name="head"/>
            </optional>
            <oneOrMore>
              <choice>
                <text/>
                <ref name="ab"/>
                <ref name="add"/>
                <ref name="del"/>
                <ref name="figure"/>
                <ref name="lb"/>
                <ref name="man"/>
                <ref name="margin"/>
                <ref name="pro"/>
              </choice>
            </oneOrMore>
            <optional>
              <ref name="cont"/>
            </optional>
          </element>
        </choice>
      </oneOrMore>
    </element>
  </start>
  <define name="head">
    <element name="head">
      <oneOrMore>
        <choice>
          <text/>
          <ref name="add"/>
          <ref name="al"/>
          <ref name="bp"/>
          <ref name="del"/>
          <ref name="env"/>
          <ref name="figure"/>
          <ref name="it"/>
          <ref name="la"/>
          <ref name="lb"/>
          <ref name="m"/>
          <ref name="man"/>
          <ref name="margin"/>
          <ref name="ms"/>
          <ref name="pa"/>
          <ref name="pl"/>
          <ref name="pn"/>
          <ref name="pro"/>
          <ref name="sn"/>
          <ref name="tl"/>
          <ref name="tmp"/>
        </choice>
      </oneOrMore>
    </element>
  </define>
  <define name="add">
    <element name="add">
      <oneOrMore>
        <choice>
          <text/>
          <ref name="al"/>
          <ref name="bp"/>
          <ref name="del"/>
          <ref name="figure"/>
          <ref name="head"/>
          <ref name="la"/>
          <ref name="lb"/>
          <ref name="m"/>
          <ref name="ms"/>
          <ref name="pa"/>
          <ref name="pl"/>
          <ref name="pro"/>
          <ref name="tl"/>
        </choice>
      </oneOrMore>
    </element>
  </define>
  <define name="ab">
    <element name="ab">
      <oneOrMore>
        <choice>
          <text/>
          <ref name="ab"/>
          <ref name="add"/>
          <ref name="al"/>
          <ref name="bp"/>
          <ref name="cn"/>
          <ref name="cont"/>
          <ref name="del"/>
          <ref name="env"/>
          <ref name="figure"/>
          <ref name="head"/>
          <ref name="id"/>
          <ref name="it"/>
          <ref name="la"/>
          <ref name="lb"/>
          <ref name="m"/>
          <ref name="man"/>
          <ref name="margin"/>
          <ref name="ms"/>
          <ref name="pa"/>
          <ref name="pl"/>
          <ref name="pn"/>
          <ref name="pro"/>
          <ref name="sn"/>
          <ref name="sup"/>
          <ref name="tl"/>
          <ref name="tmp"/>
          <element name="corr">
            <oneOrMore>
              <choice>
                <text/>
                <ref name="del"/>
              </choice>
            </oneOrMore>
          </element>
          <element name="gap">
            <empty/>
          </element>
          <element name="gk">
            <oneOrMore>
              <choice>
                <text/>
                <ref name="lb"/>
              </choice>
            </oneOrMore>
          </element>
          <element name="greek">
            <data type="NCName"/>
          </element>
          <element name="md">
            <oneOrMore>
              <choice>
                <text/>
                <ref name="m"/>
              </choice>
            </oneOrMore>
          </element>
          <element name="mu">
            <data type="NCName"/>
          </element>
          <element name="oc">
            <oneOrMore>
              <choice>
                <text/>
                <ref name="al"/>
                <ref name="env"/>
              </choice>
            </oneOrMore>
          </element>
          <element name="rub">
            <oneOrMore>
              <choice>
                <text/>
                <ref name="lb"/>
                <ref name="m"/>
                <ref name="pro"/>
              </choice>
            </oneOrMore>
          </element>
          <element name="underline">
            <oneOrMore>
              <choice>
                <text/>
                <ref name="del"/>
                <ref name="figure"/>
                <ref name="m"/>
              </choice>
            </oneOrMore>
          </element>
        </choice>
      </oneOrMore>
    </element>
  </define>
  <define name="figure">
    <element name="figure">
      <oneOrMore>
        <choice>
          <text/>
          <ref name="del"/>
          <ref name="id"/>
          <ref name="m"/>
          <ref name="margin"/>
          <ref name="ms"/>
          <element name="caption">
            <oneOrMore>
              <choice>
                <text/>
                <ref name="del"/>
                <ref name="lb"/>
                <ref name="margin"/>
                <ref name="ms"/>
                <ref name="pl"/>
              </choice>
            </oneOrMore>
          </element>
          <element name="link">
            <data type="anyURI"/>
          </element>
        </choice>
      </oneOrMore>
    </element>
  </define>
  <define name="margin">
    <element name="margin">
      <optional>
        <choice>
          <value>left-top</value>
          <value>left-middle</value>
          <value>left-bottom</value>
          <value>right-top</value>
          <value>right-middle</value>
          <value>right-bottom</value>
          <value>top</value>
          <value>bottom</value>
        </choice>
      </optional>
    </element>
  </define>
  <define name="lb">
    <element name="lb">
      <empty/>
    </element>
  </define>
  <define name="del">
    <element name="del">
      <ref name="m.phrase"/>
    </element>
  </define>
  <define name="id">
    <element name="id">
      <data type="NMTOKEN"/>
    </element>
  </define>
  <define name="man">
    <element name="man">
      <ref name="m.phrase"/>
    </element>
  </define>
  <define name="pro">
    <element name="pro">
      <ref name="m.phrase"/>
    </element>
  </define>
  <define name="cont">
    <element name="cont">
      <empty/>
    </element>
  </define>
  <define name="ms">
    <element name="ms">
      <ref name="m.phrase"/>
    </element>
  </define>
  <define name="al">
    <element name="al">
      <ref name="m.phrase"/>
    </element>
  </define>
  <define name="it">
    <element name="it">
      <ref name="m.phrase"/>
    </element>
  </define>
  <define name="env">
    <element name="env">
      <ref name="m.phrase"/>
    </element>
  </define>
  <define name="m">
    <element name="m">
      <ref name="m.phrase"/>
    </element>
  </define>
  <define name="bp">
    <element name="bp">
      <text/>
    </element>
  </define>
  <define name="pa">
    <element name="pa">
      <ref name="m.phrase"/>
    </element>
  </define>
  <define name="la">
    <element name="la">
      <ref name="m.phrase"/>
    </element>
  </define>
  <define name="fr">
    <element name="fr">
      <ref name="m.phrase"/>
    </element>
  </define>
  <define name="tmp">
    <element name="tmp">
      <ref name="m.phrase"/>
    </element>
  </define>
  <define name="tl">
    <element name="tl">
      <ref name="m.phrase"/>
    </element>
  </define>
  <define name="sn">
    <element name="sn">
      <ref name="m.phrase"/>
    </element>
  </define>
  <define name="pl">
    <element name="pl">
      <ref name="m.phrase"/>
    </element>
  </define>
  <define name="pn">
    <element name="pn">
      <ref name="m.phrase"/>
    </element>
  </define>
  <define name="sup">
    <element name="sup">
      <ref name="m.phrase"/>
    </element>
  </define>
  <define name="cn">
    <element name="cn">
      <text/>
    </element>
  </define>
  <define name="corr">
    <element name="corr">
      <ref name="m.phrase"/>
    </element>
  </define>
  <define name="gap">
    <element name="gap">
      <empty/>
    </element>
  </define>
  <define name="gk">
    <element name="gk">
      <ref name="m.phrase"/>
    </element>
  </define>
  <define name="mu">
    <element name="mu">
      <ref name="m.phrase"/>
    </element>
  </define>
  <define name="md">
    <element name="md">
      <ref name="m.phrase"/>
    </element>
  </define>
  <define name="oc">
    <element name="oc">
      <ref name="m.phrase"/>
    </element>
  </define>
  <define name="rub">
    <element name="oc">
      <ref name="m.phrase"/>
    </element>
  </define>
  <define name="m.phrase">
    <oneOrMore>
      <choice>
        <text/>
        <ref name="ab"/>
        <ref name="add"/>
        <ref name="al"/>
        <ref name="bp"/>
        <ref name="cn"/>
        <ref name="del"/>
        <ref name="env"/>
        <ref name="figure"/>
        <ref name="it"/>
        <ref name="la"/>
        <ref name="lb"/>
        <ref name="m"/>
        <ref name="man"/>
        <ref name="ms"/>
        <ref name="pa"/>
        <ref name="pl"/>
        <ref name="pn"/>
        <ref name="pro"/>
        <ref name="sn"/>
        <ref name="sup"/>
        <ref name="tl"/>
        <ref name="tmp"/>
        <ref name="corr"/>
        <ref name="gap"/>
        <ref name="gk"/>
        <ref name="md"/>
        <ref name="mu"/>
        <ref name="oc"/>
        <ref name="rub"/>
      </choice>
    </oneOrMore>
  </define>

</grammar>
